<main class="wrapper">
    <div class="flex justify-between mb-4">
        <button [routerLink]="['']" class="primary">Go back</button>
        <button class="danger"(click)="deleteNote()">Delete</button>
    </div>
    <div class="card">
        <div class="flex justify-between">
            <h1 class="p-4 text-3xl font-bold text-blue-800"></h1>
            <p class="text-slate-300">{{ note?.date| date }}</p>
        </div>
        <p class="text-slate-300 m-t-4">{{ note?.content }}</p>
    </div>

</main>